<div ng-show="showByStep1">
  <pre>请指定用来定位API的条件</pre>
  <div>
 	<form name="searchApiForm" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="creator" class="col-md-2 control-label">负责人</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="creator" name="creator" ng-model="s_creator" ></input>
        </div>
      </div>
      <div class="form-group">
        <label for="outer_url" class="col-md-2 control-label">Gateway URI</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="outer_url" name="outer_url" ng-model="s_outerUrl">
        </div>
      </div>
      <div class="form-group">
        <label for="api_name" class="col-md-2 control-label">接口名称</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="api_name" name="api_name" ng-model="s_api_name">
        </div>
      </div>
      <div class="form-group">
        <label for="group" class="col-md-2 control-label">类别</label>
        <div class="col-md-6">
          <select class="form-control" id="group" name="group" ng-model="s_group_id" ng-options="apiGroup.group_id as apiGroup.group_description for apiGroup in apiGroupListForSearch" ng-show="false">
          </select>
          <angucomplete id="group_types"
              placeholder="可输入拼音、汉字搜索分类"
              pause="5"
              selectedobject="selectedApiGroupObj"
              localdata="apiGroupList"
              searchfields="group_description,group_description_pinyin"
              titlefield="group_description"
              minlength="1"
              inputclass="form-control form-control-small">
        </div>
      </div>
    <div class="form-group">
      <div class="col-md-offset-8 col-md-4 text-right">
      	<button type="button" class="btn btn-default" ng-click="resetCriteria()" ng-disabled="false">重置查询条件</button>
        <button type="button" class="btn btn-primary" ng-click="showView('byStep2')" ng-disabled="false">下一步</button>
      </div>
    </div>
   </form>
 </div>
 </div>
<div ng-show="showByStep2">
 <pre><span>符合条件的API共找到{{searched_count}}个，请勾选需要变更负责人的API，已勾选{{checkedCount}}个<span></pre>
 <div>
 	<table ng-table="tableAPIListParams" class="table table-condensed" style="TABLE-LAYOUT: fixed" >
  	<thead>
	  <tr>
        <th width="5%" style="text-align:left"><input type="checkbox" ng-model="isAllChecked.value" ng-change="allCheckedChange()"></input></th>
        <th width="20%" style="text-align:left">接口名称</th>
        <th width="10%" style="text-align:left">分类</th>
        <th width="15%" style="text-align:left">版本</th>
        <th width="23%" style="text-align:left">Gateway URI</th>
        <th width="12%" style="text-align:left">负责人</th>
      </tr>
    </thead>
  	<tr ng-repeat="api in $data">
         <td width="5%" style="word-wrap:break-word"> 
      	  <div ng-repeat="apiVersion in api.versions">
            <input type="checkbox" ng-model="apiVersion.__checked__"  ng-change="verCheckedChange(apiVersion)"></input>
          </div>
      	</td>
        <td width="20%" style="word-wrap:break-word">{{api.versions[0].name}}</td>
        <td width="10%" style="word-wrap:break-word"><a href="#/api_version_list/{{api.versions[0].group_id}}">{{api.versions[0].group_description}}</a></td>
        <td width="15%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            <a href="#/api_version_detail/{{apiVersion.id}}">v{{apiVersion.version}}</a>
            <span class="label" ng-class="getSpecialLabelClass(apiVersion)" ng-show="isSpecialLabelShow(apiVersion)">{{getSpecialLabelText(apiVersion)}}</span>
          </div>
        </td>
        <td width="23%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            {{apiVersion.outer_url}}
          </div>
        </td>
        <td width="12%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            {{apiVersion.creator}}
          </div>
        </td>
    </tr>
  </table>
 </div>
 <div class="row">
    <div class="col-md-offset-8 col-md-4 text-right">
      <button type="button" class="btn btn-default" ng-click="showView('byStep1')">上一步</button>
      <button type="button" class="btn btn-default" ng-disabled="!searchOpeDone.value" ng-click="showView('byStep3')">下一步</button>
    </div>
 </div>
</div>
<div ng-show="showByStep3">
 <pre>请输入新负责人,并请确保该用户名真实存在</pre>
 <div>
  	<form name="newAPIOwnerForm" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="new_creator" class="col-md-2 control-label">新负责人</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="new_creator" name="new_creator" ng-model="new_creator" ></input>
        </div>
      </div>
 </div>
 <div class="row">
    <div class="col-md-offset-8 col-md-4 text-right">
      <button type="button" class="btn btn-default" ng-click="showView('byStep2')">上一步</button>
      <button type="button" class="btn btn-default" ng-click="showView('byStep4')">下一步</button>
    </div>
 </div>
</div>
<div ng-show="showByStep4">
 <pre>新负责人用红色字体表示，已勾选{{checkedCount}}个API,请确认</pre>
 <div>
  	<table ng-table="tableAPIListParams" class="table table-condensed" style="TABLE-LAYOUT: fixed" >
  	<thead>
	  <tr>
        <th width="5%" style="text-align:left"><input type="checkbox" ng-model="isAllChecked.value" ng-change="allCheckedChange()"></input></th>
        <th width="20%" style="text-align:left">接口名称</th>
        <th width="10%" style="text-align:left">分类</th>
        <th width="15%" style="text-align:left">版本</th>
        <th width="23%" style="text-align:left">Gateway URI</th>
        <th width="12%" style="text-align:left">负责人</th>
        <th width="12%" style="text-align:left">新负责人</th>
      </tr>
    </thead>
  	<tr ng-repeat="api in $data">
         <td width="5%" style="word-wrap:break-word"> 
      	  <div ng-repeat="apiVersion in api.versions">
            <input type="checkbox" ng-model="apiVersion.__checked__"  ng-change="verCheckedChange(apiVersion)"></input>
          </div>
      	</td>
        <td width="20%" style="word-wrap:break-word">{{api.versions[0].name}}</td>
        <td width="10%" style="word-wrap:break-word"><a href="#/api_version_list/{{api.versions[0].group_id}}">{{api.versions[0].group_description}}</a></td>
        <td width="15%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            <a href="#/api_version_detail/{{apiVersion.id}}">v{{apiVersion.version}}</a>
            <span class="label" ng-class="getSpecialLabelClass(apiVersion)" ng-show="isSpecialLabelShow(apiVersion)">{{getSpecialLabelText(apiVersion)}}</span>
          </div>
        </td>
        <td width="23%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            {{apiVersion.outer_url}}
          </div>
        </td>
        <td width="12%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            {{apiVersion.creator}}
          </div>
        </td>
        <td width="12%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            <span style="color:red;" ng-show="apiVersion.__checked__">{{apiVersion.__new_creator__}}</span>
            <span ng-show="!apiVersion.__checked__">{{apiVersion.__new_creator__}}</span>
          </div>
        </td>
    </tr>
  </table>
 </div>
 <div class="row">
    <div class="col-md-offset-8 col-md-4 text-right">
      <button type="button" class="btn btn-default" ng-click="showView('byStep3')">上一步</button>
      <button type="button" class="btn btn-default" ng-click="showView('byStep5')">变更</button>
    </div>
 </div>
</div>
<div ng-show="showByStep5">
 <pre>共修改{{modified_count}}个API，详情如下</pre>
 <div>
 <table ng-table="tableModifiedAPIListParams" class="table table-condensed" style="TABLE-LAYOUT: fixed" >
  	<thead>
	  <tr>
        <th width="20%" style="text-align:left">接口名称</th>
        <th width="10%" style="text-align:left">分类</th>
        <th width="15%" style="text-align:left">版本</th>
        <th width="23%" style="text-align:left">Gateway URI</th>
        <th width="12%" style="text-align:left">负责人</th>
      </tr>
    </thead>
  	<tr ng-repeat="api in $data">
        <td width="20%" style="word-wrap:break-word">{{api.versions[0].name}}</td>
        <td width="10%" style="word-wrap:break-word"><a href="#/api_version_list/{{api.versions[0].group_id}}">{{api.versions[0].group_description}}</a></td>
        <td width="15%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            <a href="#/api_version_detail/{{apiVersion.id}}">v{{apiVersion.version}}</a>
            <span class="label" ng-class="getSpecialLabelClass(apiVersion)" ng-show="isSpecialLabelShow(apiVersion)">{{getSpecialLabelText(apiVersion)}}</span>
          </div>
        </td>
        <td width="23%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            {{apiVersion.outer_url}}
          </div>
        </td>
        <td width="12%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versions">
            <span style="color:blue;">{{apiVersion.creator}}</span>
          </div>
        </td>
    </tr>
  </table>
 </div>
 <div class="row">
   <div class="col-md-offset-8 col-md-4 text-right">
     <button type="button" class="btn btn-default" ng-click="showView('byStep1')">返回</button>
 </div>
 </div>
</div>