<h3>API参数黑名单</h3>

<table class="table table-bordered">
  <thead>
      <tr>
        <th class="text-center">序号</th>
        <th class="text-center">参数组ID</th>
        <th class="text-center">API ID</th>
        <th class="text-center">动作</th>
      </tr>
  </thead>
  <tbody class="table-word-break">
    <tr ng-repeat="apiBl in apiBls">
      <td class="text-center">{{$index + 1}}</td>
      <td class="text-center">{{apiBl.group_id}}</td>
      <td class="text-center">{{apiBl.api_id}}</td>
      <td class="text-center"><button type="button" class="btn btn-primary btn-sm" ng-click="viewApiBlKeyGroup(apiBl)">查看</button><button type="button" class="btn btn-danger btn-sm" ng-click="deleteApiWl(apiBl.api_id, apiBl.group_id)">删除</button></td>
    </tr>
  </tbody>
</table>