<h3>查看所有分组</h3>
<table class="table table-bordered">
  <thead>
      <tr>
        <th class="text-center">序号</th>
        <th class="text-center">分组名称</th>
        <th class="text-center">动作</th>
      </tr>
  </thead>
  <tbody class="table-word-break">
    <tr ng-repeat="group in groups">
      <td class="text-center">{{$index + 1}}</td>
      <td class="text-center">{{group.group_description}}</td>
      <td class="text-center"><button type="button" class="btn btn-danger" ng-click="deleteGroup(group.group_id)">删除</button></td>
    </tr>
  </tbody>
</table>
