<h3>添加分组</h3>

<form name="addGroupForm" class="form-horizontal" role="form" ng-submit="addGroupSubmit()">
  <div class="form-group">
    <label for="group_name" class="col-md-4 control-label">分组名称</label>
    <div class="col-md-6">
      <input name="groupName" type="text" class="form-control" id="group_name" ng-model="newGroup.groupName" ng-maxlength="32" required>
    </div>
  </div>
  <div class="form-group">
    <label for="groupDescription" class="col-md-4 control-label">分组描述</label>
    <div class="col-md-6">
      <input name="groupDescription" type="text" class="form-control" id="group_description" ng-model="newGroup.groupDescription" ng-maxlength="64" required>
    </div>
  </div>
  <div class="form-group">
    <label for="spec" class="col-md-4 control-label">规范版本</label>
    <div class="col-md-6">
      <input name="spec" type="number" class="form-control" id="spec" ng-model="newGroup.spec" ng-min="1" required>
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <span class="error" ng-show="addGroupForm.group.$error.maxlength">名称最大长度为32</span>
    </div>
  </div>
  <div class="form-group">
    <label for="groupDescription_pinyin" class="col-md-4 control-label">分组描述(拼音)</label>
    <div class="col-md-6">
      <input name="groupDescription_pinyin" type="text" class="form-control" id="groupDescription_pinyin" ng-model="newGroup.groupDescription_pinyin" ng-maxlength="64" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <button type="submit" class="btn btn-primary" ng-disabled="addGroupForm.groupName.$error.maxlength && addGroupForm.groupDescription.$error.maxlength">添加</button>
    </div>
  </div>
</form>
