<h3>添加管理员</h3>

<form name="addAdminForm" class="form-horizontal" role="form" ng-submit="addAdminSubmit()">
  <div class="form-group">
    <label for="newMember" class="col-md-4 control-label">选择分组</label>
    <div class="col-md-6">
      <select name="group" class="form-control" id="group" ng-model="newMember.group_id" ng-options="a.group_id as a.group_description for a in groups" required>
          <option value="">请选择分组</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-md-4 control-label">AD账户</label>
    <div class="col-md-6">
      <input name="username" type="email" class="form-control" id="username" ng-model="newMember.username" required>
      <span class="error" ng-show="addAdminForm.username.$error.email">用户名不合法</span>
      <!--angucomplete id="search_ctx"
              placeholder="Search CTX"
              pause="100"
              selectedobject="newMember.searchCtx"
              url="/user?query="
              datafield="data"
              titlefield="rtx"
              searchfields="rtx"
              minlength="1"
              inputclass="form-control form-control-small"/-->
    </div>
  </div>
  <div class="form-group">
    <label for="role" class="col-md-4 control-label">用户角色</label>
    <div class="col-md-6">
      <select class="form-control" id="role" ng-model="newMember.role_id" ng-options="a.id as a.name for a in roleMap|filter:isSupperAuthorization" required>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <button type="submit" class="btn btn-primary btn-sm" ng-disabled="addAdminForm.username.$error.pattern">添加</button>
    </div>
  </div>
</form>
