
<br>

<div class="row" ng-show={{config.switch_product}}>
  <div class="col-md-12">
    <p class="text-center"><strong>Product环境</strong></p>
    <p class="text-center">(检查业务端响应内容不符合API规范)</p>
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">ApiVersionId</th>
        <th class="text-center">创建时间</th>
        <th class="text-center">更新时间</th>
        <th class="text-center">OuterURL</th>
        <th class="text-center">负责人</th>
        <th class="text-center">组名</th>
      </tr>
    </thead>
    <tbody class="table-word-break">
      <tr ng-repeat="stats in product_stats_content">
        <td class="text-center">
          <a href="/#/api_version_detail/{{stats.api_version_id}}">{{stats.api_version_id}}</a>
        </td>
        <td class="text-center">{{stats.create_time}}</td>
        <td class="text-center">{{stats.update_time}}</td>
        <td class="text-center">{{stats.outer_url}}</td>
        <td class="text-center">{{stats.creator}}</td>
        <td class="text-center">{{stats.group_name}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>

<div class="row"  ng-show={{config.switch_pre}}>
  <div class="col-md-12">
    <p class="text-center"><strong>预发布环境</strong></p>
    <p class="text-center">({{current_day}} 当天检查业务端不符合规范API列表)</p>
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">ApiVersionId</th>
        <th class="text-center">负责人</th>
        <th class="text-center">OuterURL</th>
        <th class="text-center">组名</th>
      </tr>
    </thead>
    <tbody class="table-word-break">
      <tr ng-repeat="stats in product_stats_content">
        <td class="text-center">{{stats.api_version_id}}</td>
        <td class="text-center">{{stats.creator}}</td>
        <td class="text-center">{{stats.outer_url}}</td>
        <td class="text-center">{{stats.group_name}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>

<div class="row"  ng-show={{config.switch_test}}>
  <div class="col-md-12">
    <p class="text-center"><strong>集成测试环境</strong></p>
    <p class="text-center">({{current_day}} 当天检查业务端不符合规范API列表)</p>
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">ApiVersionId</th>
        <th class="text-center">负责人</th>
        <th class="text-center">OuterURL</th>
        <th class="text-center">组名</th>
      </tr>
    </thead>
    <tbody class="table-word-break">
      <tr ng-repeat="stats in product_stats_content">
        <td class="text-center">{{stats.api_version_id}}</td>
        <td class="text-center">{{stats.creator}}</td>
        <td class="text-center">{{stats.outer_url}}</td>
        <td class="text-center">{{stats.group_name}}</td>
      </tr>
    </tbody>
    </table>
  </div>

</div><div class="row"  ng-show={{config.switch_sandbox}}>
  <div class="col-md-12">
    <p class="text-center"><strong>开发联调(Sandbox)环境</strong></p>
    <p class="text-center">({{current_day}} 当天检查业务端不符合规范API列表)</p>
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">ApiVersionId</th>
        <th class="text-center">负责人</th>
        <th class="text-center">OuterURL</th>
        <th class="text-center">组名</th>
      </tr>
    </thead>
    <tbody class="table-word-break">
      <tr ng-repeat="stats in product_stats_content">
        <td class="text-center">{{stats.api_version_id}}</td>
        <td class="text-center">{{stats.creator}}</td>
        <td class="text-center">{{stats.outer_url}}</td>
        <td class="text-center">{{stats.group_name}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
