
<div class="row">
  <div class="form-group">
    <label for="long_url" class="col-md-1 control-label"></label>
    <label for="long_url" class="col-md-1 control-label">原网址</label>
    <div class="col-md-8">
      <input type="url" class="form-control" id="long_url" ng-model="longUrl" placeholder="http://www.mumway.com" required></input>
    </div>
    <label for="long_url" class="col-md-2 control-label"></label>
  </div>
</div>
<br><br>
<div class="row">
  <div class="form-group">
    <label for="tiny_url" class="col-md-1 control-label"></label>
    <label for="tiny_url" class="col-md-1 control-label">短链接</label>
    <div class="col-md-8">
      <span class="form-control" id="tiny_url" ng-bind="tinyUrl"></span>
    </div>
    <label for="tiny_url" class="col-md-2 control-label"></label>
  </div>
</div>
<br>
<div class="row">
  <div class="form-group">
    <label for="tiny_url" class="col-md-2 control-label"></label>
    <div class="col-md-8">
      <span class="help-block" id="status" ng-bind="status"></span>
    </div>
    <label for="" class="col-md-2"></label>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary" ng-click="create()">生成</small></button>
  </div>
  <div class="col-md-2">
    <button type="button" id="copyButton" class="btn btn-danger" clip-copy="tinyUrl" clip-click="copy()">复制</button>
  </div>
  <div class="col-md-4"></div>
</div>
