
<form name="updateForm" class="form-horizontal" role="form" ng-submit="submit()">
  <div class="row">
    <div class="col-md-2"><p class="text-right">版本</p></div>
    <div class="col-md-6">
      <p class="text-left">
        v{{apiVersion.version}}
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="outer_url" class="col-md-2 control-label">审核</label>
    <div class="col-md-6">
      <pre type="text" class="form-control" id="modifier">{{isAuditArray[apiVersion.is_audit]}}</pre>
    </div>
  </div>
  <div class="form-group">
    <label for="status" class="col-md-2 control-label">状态</label>
    <div class="col-md-4">
      <select class="form-control" id="status" ng-model="apiVersion.status" ng-options="a.id as a.name for a in statusMap" ng-disabled="!isCorporationAdmin" required>
      </select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-danger" ng-click="updateStatus2Deprecated()">更改为已废弃</button>
    </div>
  </div>
  <div class="form-group">
    <label for="outer_url" class="col-md-2 control-label">负责人</label>
    <div class="col-md-4">
      <pre type="text" class="form-control" id="creator">{{apiVersion.creator}}</pre>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-danger" ng-click="updateWithLoginName()">更改为本人</button>
    </div>
  </div>
  <div class="form-group">
    <label for="outer_url" class="col-md-2 control-label">修改者</label>
    <div class="col-md-6">
      <pre type="text" class="form-control" id="modifier">{{apiVersion.modifier}}</pre>
    </div>
  </div>
  <div class="form-group">
    <label for="outer_url" class="col-md-2 control-label">APP访问URI</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="outer_url" ng-model="apiVersion.outer_url" ng-disabled="apiVersion.is_audit==2" required>
    </div>
    <span for='outer_url' class="col-md-2 control-label text-left">变量使用<strong>双大括号</strong>!</span>
  </div>
  <!--
  <div class="form-group" ng-show={{config.switch_product}}>
    <label for="product_url" class="col-md-2 control-label">API 生产环境URL</label>
    <div class="col-md-6">
      <input name="productUrl" type="url" class="form-control" id="product_url" ng-model="apiVersion.product_url" ng-required={{config.switch_product}}>
    </div>
    <span for='product_url' class="col-md-2 control-label text-left">变量使用<strong>双大括号</strong>!</span>
  </div>
  <div class="form-group" ng-show={{config.switch_product}}>
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="config.switch_product && updateForm.productUrl.$error.required">必填!</span>
      <span class="error" ng-show="config.switch_product && updateForm.productUrl.$error.url">不是合法的URL</span>
    </div>
  </div>
  <div class="form-group" ng-show={{config.switch_pre}}>
    <label for="pre_url" class="col-md-2 control-label">API 预发布环境URL</label>
    <div class="col-md-6">
      <input name="preUrl" type="url" class="form-control" id="pre_url" ng-model="apiVersion.pre_url" ng-required={{config.switch_pre}}>
    </div>
    <span for='pre_url' class="col-md-2 control-label text-left">变量使用<strong>双大括号</strong>!</span>
  </div>
  <div class="form-group" ng-show={{config.switch_pre}}>
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="config.switch_pre && updateForm.preUrl.$error.required">必填!</span>
      <span class="error" ng-show="config.switch_pre && updateForm.preUrl.$error.url">不是合法的URL</span>
    </div>
  </div>
  <div class="form-group" ng-show={{config.switch_test}}>
    <label for="test_url" class="col-md-2 control-label">API 集成环境URL</label>
    <div class="col-md-6">
      <input name="testUrl" type="url" class="form-control" id="test_url" ng-model="apiVersion.test_url" ng-required={{config.switch_test}}>
    </div>
    <span for='test_url' class="col-md-2 control-label text-left">变量使用<strong>双大括号</strong>!</span>
  </div>
  <div class="form-group" ng-show={{config.switch_test}}>
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="config.switch_test && updateForm.testUrl.$error.required">必填!</span>
      <span class="error" ng-show="config.switch_test && updateForm.testUrl.$error.url">不是合法的URL</span>
    </div>
  </div>
  <div class="form-group" ng-show={{config.switch_sandbox}}>
    <label for="sandbox_url" class="col-md-2 control-label">API 开发联调(Sandbox) URL</label>
    <div class="col-md-6">
      <input name="sandboxUrl" type="url" class="form-control" id="sandbox_url" ng-model="apiVersion.sandbox_url" ng-required={{config.switch_sandbox}}>
    </div>
    <span for='sandbox_url' class="col-md-2 control-label text-left">变量使用<strong>双大括号</strong>!</span>
  </div>
  <div class="form-group" ng-show={{config.switch_sandbox}}>
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="config.switch_sandbox && updateForm.sandboxUrl.$error.required">必填!</span>
      <span class="error" ng-show="config.switch_sandbox && updateForm.sandboxUrl.$error.url">不是合法的URL</span>
    </div>
  </div>
  -->
  <div class="form-group">
    <label for="upstream_id" class="col-md-2 control-label">API虚拟服务器</label>
    <div class="col-md-6">
      <select id="upstream_id" class="form-control" ng-model="apiVersion.upstream_id" ng-options="upstream.id as upstream.name for upstream in upstreamList" required></select>
    </div>
  </div>
  <div class="form-group">
    <label for="inner_url" class="col-md-2 control-label">BACKEND URI</label>
    <div class="col-md-6">
      <input name="innerUrl" type="text" class="form-control" id="inner_url" ng-model="apiVersion.inner_url" ng-required="true">
    </div>
    <span for='inner_url' class="col-md-2 control-label text-left">变量使用<strong>双大括号</strong>!</span>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.sandboxUrl.$error.required">必填!</span>
      <span class="error" ng-show="updateForm.sandboxUrl.$error.url">不是合法的URL</span>
    </div>
  </div>
  <div class="form-group">
    <label for="status" class="col-md-2 control-label">授权方式</label>
    <div class="col-md-6">
      <select ng-if="!isCorporationAdmin" class="form-control" id="access" ng-model="apiVersion.access" ng-options="a.id as a.name for a in accessMap" required disabled="disabled"></select>
      <select ng-if="isCorporationAdmin" class="form-control" id="access" ng-model="apiVersion.access" ng-options="a.id as a.name for a in accessMap" required></select>
    </div>
  </div>
  <div class="form-group" ng-show="false">
    <label for="token" class="col-md-2 control-label">API签名</label>
    <div class="col-md-6">
      <input name="token" type="text" class="form-control" id="token" ng-model="apiVersion.token" ng-maxlength="32" ng-pattern='/^(\w+){0,}$/'>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.token.$error.pattern">不是合法的token,只能包含英文字符、数字和下划线</span>
      <span class="error" ng-show="updateForm.token.$error.maxlength">token最大长度为32</span>
    </div>
  </div>
  <div class="form-group" ng-show="false">
    <label for="depend" class="col-md-2 control-label">API前置条件</label>
    <div class="col-md-6">
      <input name="depend" type="text" class="form-control" id="depend" ng-model="apiVersion.depend" ng-maxlength="256" disabled>
      <!-- ng-pattern='/^(\w+_\w+_\w+){0,}$/'-->
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <!--span class="error" ng-show="updateForm.depend.$error.pattern">不是合法的dpend,格式为apiVersionId_Token_Method</span -->
      <span class="error" ng-show="updateForm.depend.$error.maxlength">最大长度为256</span>
    </div>
  </div>
  <div class="form-group" ng-show="false">
    <label for="max_per_minute" class="col-md-2 control-label">每分钟请求上限</label>
    <div class="col-md-6">
      <input type="number" class="form-control" id="max_per_minute" ng-model="apiVersion.max_per_minute" min="0" required>
    </div>
  </div>
  <div class="form-group" ng-show="false">
    <label for="timeout" class="col-md-2 control-label">TCP连接超时(毫秒)</label>
    <div class="col-md-6">
      <pre type="text" class="form-control" id="connect_timeout}">{{apiVersion.connect_timeout}}</pre>
    </div>
  </div>
  <div class="form-group" ng-show="false">
    <label for="timeout" class="col-md-2 control-label">HTTP请求超时(毫秒)</label>
    <div class="col-md-6">
      <input type="number" class="form-control" id="request_timeout" ng-model="apiVersion.request_timeout" min="1" max="60000" required>
    </div>
  </div>
  <div class="form-group">
    <label for="detail_log_level" class="col-md-2 control-label">详细日志级别</label>
    <div class="col-md-6">
      <select class="form-control" id="detail_log_level" ng-model="apiVersion.detail_log" ng-options="a.id as a.name for a in detail_log_Map" ng-disabled="!isCorporationAdmin" required>
      </select>
    </div>
  </div>
  <div class="form-group" ng-show="false">
    <label for="cookies" class="col-md-2 control-label">API Cookies</label>
    <div class="col-md-6">
      <textarea class="form-control" rows="3" name="cookies" id="cookies" ng-model="apiVersion.cookies" ng-maxlength="264" ng-pattern='/^(|(b_[a-z_0-9]+)(,b_[a-z_0-9]+){0,})$/'></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <span class="error" ng-show="updateForm.cookies.$error.pattern">不是合法的cookie，请以"b_"开头且只能包含英文小写字符、数字和下划线。cookie间使用逗号分隔</span>
      <span class="error" ng-show="updateForm.cookies.$error.maxlength">API Cookies的最大长度为264</span>
    </div>
  </div>
  <div class="form-group">
    <label for="selector" class="col-md-2 control-label">选择器</label>
    <div class="col-md-6">
      <select id="selector_id" class="form-control" ng-model="apiVersion.selector_id" ng-options="selector.id as selector.name for selector in selectorList" required></select>
    </div>
  </div>
  <div class="form-group">
    <label for="scheduler" class="col-md-2 control-label">调度器</label>
    <div class="col-md-6">
      <select id="scheduler_id" class="form-control" ng-model="apiVersion.scheduler_id" ng-options="scheduler.id as scheduler.name for scheduler in schedulerList" required></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">是否允许外网http请求</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.is_internet_http" value="1">是
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.is_internet_http" value="0">否
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-md-2 control-label">描述(Markdown)</label>
    <div class="col-md-6">
      <textarea name="description" class="form-control" rows="6" id="description" ng-model="apiVersion.description" ng-maxlength="1024" placeholder="描述api概况，包括功能和性能" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.description.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">HTTP Method</label>
    <div class="col-md-6">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="apiVersion.is_get">GET
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="apiVersion.is_post">POST
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="apiVersion.is_put">PUT
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="apiVersion.is_delete">DELETE
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="apiVersion.is_patch">PATCH
      </label>
    </div>
  </div>
  <!-- GET -->
  <div class="form-group" ng-show="apiVersion.is_get">
    <label for="input_doc" class="col-md-2 control-label">GET方法</label>
  </div>
  <div class="form-group" ng-show="apiVersion.is_get">
   <label for="cache_expires" class="col-md-2 control-label" >Cache过期时间(秒)</label>
    <div class="col-md-6">
      <input type="number" class="form-control" id="get_cache_expires" ng-model="apiVersion.get_cache_expires" min="0" max="604800" required>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_get">
    <label class="col-md-2 control-label">是否签名</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.get_is_token" value="1">是
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.get_is_token" value="0">否
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_get">
    <label class="col-md-2 control-label">网络访问权限</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.get_is_private" value="1">可信网络(包含内网)
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.get_is_private" value="0">公网
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_get">
    <label class="col-md-2 control-label">是否需要认证</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="get_is_need_check">
        <input type="checkbox" id="get_is_need_check" ng-model="getIsNeedCheck">需要认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="getIsNeedCheck && apiVersion.is_get">
    <label class="col-md-2 control-label">认证方式</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="get_is_check_app">
        <input type="checkbox" id="get_is_check_app" ng-model="apiVersion.get_is_check_app">Key/Secret认证
      </label>
      <label class="checkbox-inline" for="get_is_check_session">
        <input type="checkbox" id="get_is_check_session" ng-model="apiVersion.get_is_check_session">Session认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="getIsNeedCheck && apiVersion.get_is_check_session && apiVersion.is_get">
    <label for="get_session_param_map" class="col-md-2 control-label">Session与参数对应关系</label>
    <div class="col-md-6">
      <input name="get_session_param_map" type="text" class="form-control" id="get_session_param_map" ng-model="apiVersion.get_session_param_map" ng-required="getIsNeedCheck && apiVersion.get_is_check_session && apiVersion.is_get" ng-pattern='/^{}$|^{"[a-z A-z]+":\s?"s_uid"}$|^{"[a-z A-z]+":\s?"s_puid"}$|^{"[a-z A-z]+":\s?"s_bind"}$/'>
    </div>
    <span for="get_session_param_map" class="col-md-2 control-label">典型: {"uid":"s_uid"} {"puid":"s_puid"}</span>
  </div>
  <div class="form-group" ng-show="apiVersion.is_get">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="apiVersion.is_get && updateForm.get_session_param_map.$error.required">必填!</span>
      <span class="error" ng-show="apiVersion.is_get && updateForm.get_session_param_map.$error.pattern">不是合法的表达式</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_get">
    <label for="get_input_doc" class="col-md-2 control-label">请求参数说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="get_input_doc" class="form-control" rows="6" id="get_input_doc" ng-model="apiVersion.get_input_doc" ng-maxlength="1024" placeholder="对HTTP请求参数做详细说明" ng-required="apiVersion.is_get"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_get">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.get_input_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_get">
    <label for="get_output_doc" class="col-md-2 control-label">响应内容说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="get_output_doc" class="form-control" rows="6" id="get_output_doc" ng-model="apiVersion.get_output_doc" ng-maxlength="1024" placeholder="对HTTP响应内容做详细说明" ng-required="apiVersion.is_get"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_get">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.get_output_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <!--div class="form-group" ng-show="apiVersion.is_get">
    <label for="get_test_input_doc" class="col-md-2 control-label">压测URL</label>
    <div class="col-md-6">
      <textarea class="form-control" rows="6" id="get_test_input_doc" ng-model="apiVersion.get_test_input_doc" placeholder="" ng-required="apiVersion.is_get"></textarea>
    </div>
  </div-->
  <!-- POST -->
  <div class="form-group" ng-show="apiVersion.is_post">
    <label for="input_doc" class="col-md-2 control-label">POST方法</label>
  </div>
  <div class="form-group" ng-show="apiVersion.is_post">
    <label class="col-md-2 control-label">是否签名</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.post_is_token" value="1">是
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.post_is_token" value="0">否
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_post">
    <label class="col-md-2 control-label">网络访问权限</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.post_is_private" value="1">可信网络(包含内网)
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.post_is_private" value="0">公网
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_post">
    <label class="col-md-2 control-label">是否需要认证</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="post_is_need_check">
        <input type="checkbox" id="post_is_need_check" ng-model="postIsNeedCheck">需要认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="postIsNeedCheck && apiVersion.is_post">
    <label class="col-md-2 control-label">认证方式</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="post_is_check_app">
        <input type="checkbox" id="post_is_check_app" ng-model="apiVersion.post_is_check_app">Key/Secret认证
      </label>
      <label class="checkbox-inline" for="post_is_check_session">
        <input type="checkbox" id="post_is_check_session" ng-model="apiVersion.post_is_check_session">Session认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="postIsNeedCheck && apiVersion.post_is_check_session && apiVersion.is_post">
    <label for="post_session_param_map" class="col-md-2 control-label">Session与参数对应关系</label>
    <div class="col-md-6">
      <input name="post_session_param_map" type="text" class="form-control" id="post_session_param_map" ng-model="apiVersion.post_session_param_map" ng-required="postIsNeedCheck && apiVersion.post_is_check_session && apiVersion.is_post" ng-pattern='/^{}$|^{"[a-z A-z]+":\s?"s_uid"}$|^{"[a-z A-z]+":\s?"s_puid"}$|^{"[a-z A-z]+":\s?"s_bind"}$/'>
    </div>
    <span for="post_session_param_map" class="col-md-2 control-label">典型: {"uid":"s_uid"} {"puid":"s_puid"}</span>
  </div>
  <div class="form-group" ng-show="apiVersion.is_post">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="apiVersion.is_post && updateForm.post_session_param_map.$error.required">必填!</span>
      <span class="error" ng-show="apiVersion.is_post && updateForm.post_session_param_map.$error.pattern">不是合法的表达式</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_post">
    <label for="post_input_doc" class="col-md-2 control-label">请求参数说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="post_input_doc" class="form-control" rows="6" id="post_input_doc" ng-model="apiVersion.post_input_doc" ng-maxlength="1024" placeholder="对HTTP请求参数做详细说明" ng-required="apiVersion.is_post"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_post">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.post_input_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_post">
    <label for="post_output_doc" class="col-md-2 control-label">响应内容说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="post_output_doc" class="form-control" rows="6" id="post_output_doc" ng-model="apiVersion.post_output_doc" ng-maxlength="1024" placeholder="对HTTP响应结果做详细说明" ng-required="apiVersion.is_post"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_post">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.post_output_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <!-- PUT -->
  <div class="form-group" ng-show="apiVersion.is_put">
    <label for="input_doc" class="col-md-2 control-label">PUT方法</label>
  </div>
  <div class="form-group" ng-show="apiVersion.is_put">
    <label class="col-md-2 control-label">是否签名</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.put_is_token" value="1">是
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.put_is_token" value="0">否
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_put">
    <label class="col-md-2 control-label">网络访问权限</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.put_is_private" value="1">可信网络(包含内网)
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.put_is_private" value="0">公网
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_put">
    <label class="col-md-2 control-label">是否需要认证</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="put_is_need_check">
        <input type="checkbox" id="put_is_need_check" ng-model="putIsNeedCheck">需要认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="putIsNeedCheck && apiVersion.is_put">
    <label class="col-md-2 control-label">认证方式</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="put_is_check_app">
        <input type="checkbox" id="put_is_check_app" ng-model="apiVersion.put_is_check_app">Key/Secret认证
      </label>
      <label class="checkbox-inline" for="put_is_check_session">
        <input type="checkbox" id="put_is_check_session" ng-model="apiVersion.put_is_check_session">Session认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="putIsNeedCheck && apiVersion.put_is_check_session && apiVersion.is_put">
    <label for="put_session_param_map" class="col-md-2 control-label">Session与参数对应关系</label>
    <div class="col-md-6">
      <input name="put_session_param_map" type="text" class="form-control" id="put_session_param_map" ng-model="apiVersion.put_session_param_map" ng-required="putIsNeedCheck && apiVersion.put_is_check_session && apiVersion.is_put" ng-pattern='/^{}$|^{"[a-z A-z]+":\s?"s_uid"}$|^{"[a-z A-z]+":\s?"s_puid"}$|^{"[a-z A-z]+":\s?"s_bind"}$/'>
    </div>
    <span for="put_session_param_map" class="col-md-2 control-label">典型: {"uid":"s_uid"} {"puid":"s_puid"}</span>
  </div>
  <div class="form-group" ng-show="apiVersion.is_put">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="apiVersion.is_put && updateForm.put_session_param_map.$error.required">必填!</span>
      <span class="error" ng-show="apiVersion.is_put && updateForm.put_session_param_map.$error.pattern">不是合法的表达式</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_put">
    <label for="put_input_doc" class="col-md-2 control-label">请求参数说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="put_input_doc" class="form-control" rows="6" id="put_input_doc" ng-model="apiVersion.put_input_doc" ng-maxlength="1024" placeholder="对HTTP请求参数做详细说明" ng-required="apiVersion.is_put"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_put">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.put_input_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_put">
    <label for="put_output_doc" class="col-md-2 control-label">响应内容说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="put_output_doc" class="form-control" rows="6" id="put_output_doc" ng-model="apiVersion.put_output_doc" ng-maxlength="1024" placeholder="对HTTP响应结果做详细说明" ng-required="apiVersion.is_put"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_put">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.put_output_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <!-- DELETE -->
  <div class="form-group" ng-show="apiVersion.is_delete">
    <label for="input_doc" class="col-md-2 control-label">DELETE方法</label>
  </div>
  <div class="form-group" ng-show="apiVersion.is_delete">
    <label class="col-md-2 control-label">是否签名</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.delete_is_token" value="1">是
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.delete_is_token" value="0">否
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_delete">
    <label class="col-md-2 control-label">网络访问权限</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.delete_is_private" value="1">可信网络(包含内网)
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.delete_is_private" value="0">公网
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_delete">
    <label class="col-md-2 control-label">是否需要认证</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="delete_is_need_check">
        <input type="checkbox" id="delete_is_need_check" ng-model="deleteIsNeedCheck">需要认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="deleteIsNeedCheck && apiVersion.is_delete">
    <label class="col-md-2 control-label">认证方式</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="delete_is_check_app">
        <input type="checkbox" id="delete_is_check_app" ng-model="apiVersion.delete_is_check_app">Key/Secret认证
      </label>
      <label class="checkbox-inline" for="delete_is_check_session">
        <input type="checkbox" id="delete_is_check_session" ng-model="apiVersion.delete_is_check_session">Session认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="deleteIsNeedCheck && apiVersion.delete_is_check_session && apiVersion.is_delete">
    <label for="delete_session_param_map" class="col-md-2 control-label">Session与参数对应关系</label>
    <div class="col-md-6">
      <input name="delete_session_param_map" type="text" class="form-control" id="delete_session_param_map" ng-model="apiVersion.delete_session_param_map" ng-required="deleteIsNeedCheck && apiVersion.delete_is_check_session && apiVersion.is_delete" ng-pattern='/^{}$|^{"[a-z A-z]+":\s?"s_uid"}$|^{"[a-z A-z]+":\s?"s_puid"}$|^{"[a-z A-z]+":\s?"s_bind"}$/'>
    </div>
    <span for="delete_session_param_map" class="col-md-2 control-label">典型: {"uid":"s_uid"} {"puid":"s_puid"}</span>
  </div>
  <div class="form-group" ng-show="apiVersion.is_delete">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="apiVersion.is_delete && updateForm.delete_session_param_map.$error.required">必填!</span>
      <span class="error" ng-show="apiVersion.is_delete && updateForm.delete_session_param_map.$error.pattern">不是合法的表达式</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_delete">
    <label for="delete_input_doc" class="col-md-2 control-label">请求参数说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="delete_input_doc" class="form-control" rows="6" id="delete_input_doc" ng-model="apiVersion.delete_input_doc" ng-maxlength="1024" placeholder="对HTTP请求参数做详细说明" ng-required="apiVersion.is_delete"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_delete">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.delete_input_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_delete">
    <label for="delete_output_doc" class="col-md-2 control-label">响应内容说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="delete_output_doc" class="form-control" rows="6" id="delete_output_doc" ng-model="apiVersion.delete_output_doc" ng-maxlength="1024" placeholder="对HTTP响应结果做详细说明" ng-required="apiVersion.is_delete"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_delete">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.delete_output_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <!-- PATCH -->
  <div class="form-group" ng-show="apiVersion.is_patch">
    <label for="input_doc" class="col-md-2 control-label">PATCH方法</label>
  </div>
  <div class="form-group" ng-show="apiVersion.is_patch">
    <label class="col-md-2 control-label">是否签名</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.patch_is_token" value="1">是
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.patch_is_token" value="0">否
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_patch">
    <label class="col-md-2 control-label">网络访问权限</label>
    <div class="col-md-6">
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.patch_is_private" value="1">可信网络(包含内网)
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="apiVersion.patch_is_private" value="0">公网
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_patch">
    <label class="col-md-2 control-label">是否需要认证</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="patch_is_need_check">
        <input type="checkbox" id="patch_is_need_check" ng-model="patchIsNeedCheck">需要认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="patchIsNeedCheck && apiVersion.is_patch">
    <label class="col-md-2 control-label">认证方式</label>
    <div class="col-md-6">
      <label class="checkbox-inline" for="patch_is_check_app">
        <input type="checkbox" id="patch_is_check_app" ng-model="apiVersion.patch_is_check_app">Key/Secret认证
      </label>
      <label class="checkbox-inline" for="patch_is_check_session">
        <input type="checkbox" id="patch_is_check_session" ng-model="apiVersion.patch_is_check_session">Session认证
      </label>
    </div>
  </div>
  <div class="form-group" ng-show="patchIsNeedCheck && apiVersion.patch_is_check_session && apiVersion.is_patch">
    <label for="patch_session_param_map" class="col-md-2 control-label">Session与参数对应关系</label>
    <div class="col-md-6">
      <input name="patch_session_param_map" type="text" class="form-control" id="patch_session_param_map" ng-model="apiVersion.patch_session_param_map" ng-required="patchIsNeedCheck && apiVersion.patch_is_check_session && apiVersion.is_patch" ng-pattern='/^{}$|^{"[a-z A-z]+":\s?"s_uid"}$|^{"[a-z A-z]+":\s?"s_puid"}$|^{"[a-z A-z]+":\s?"s_bind"}$/'>
    </div>
    <span for="patch_session_param_map" class="col-md-2 control-label">典型: {"uid":"s_uid"} {"puid":"s_puid"}</span>
  </div>
  <div class="form-group" ng-show="apiVersion.is_patch">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="apiVersion.is_patch && updateForm.patch_session_param_map.$error.required">必填!</span>
      <span class="error" ng-show="apiVersion.is_patch && updateForm.patch_session_param_map.$error.pattern">不是合法的表达式</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_patch">
    <label for="patch_input_doc" class="col-md-2 control-label">请求参数说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="patch_input_doc" class="form-control" rows="6" id="patch_input_doc" ng-model="apiVersion.patch_input_doc" ng-maxlength="1024" placeholder="对HTTP请求参数做详细说明" ng-required="apiVersion.is_patch"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_patch">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.patch_input_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_patch">
    <label for="patch_output_doc" class="col-md-2 control-label">响应内容说明(Markdown)</label>
    <div class="col-md-6">
      <textarea name="patch_output_doc" class="form-control" rows="6" id="patch_output_doc" ng-model="apiVersion.patch_output_doc" ng-maxlength="1024" placeholder="对HTTP响应结果做详细说明" ng-required="apiVersion.is_patch"></textarea>
    </div>
  </div>
  <div class="form-group" ng-show="apiVersion.is_patch">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="updateForm.patch_output_doc.$error.maxlength">最大长度为1024</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <button type="submit" class="btn btn-primary" ng-disabled="(config.switch_product && updateForm.productUrl.$error.url) || (config.switch_pre && updateForm.preUrl.$error.url) || (config.switch_test && updateForm.testUrl.$error.url) || (config.switch_sandbox && updateForm.sandboxUrl.$error.url) || (apiVersion.is_get && updateForm.get_session_param_map.$error.pattern) || (apiVersion.is_post && updateForm.post_session_param_map.$error.pattern) || (apiVersion.is_put && updateForm.put_session_param_map.$error.pattern) || (apiVersion.is_delete && updateForm.delete_session_param_map.$error.pattern) || updateForm.token.$error.pattern || updateForm.token.$error.maxlength || updateForm.depend.$error.maxlength || updateForm.cookies.$error.maxlength|| updateForm.cookies.$error.pattern">修改</button>
      <button type="button" class="btn btn-default" ng-click="back()">返回</button>
    </div>
  </div>
</form>
