<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>说明:</strong>分组成员有两种角色:admin和user。admin表示管理员，可以添加其他用户到当前api分组。user代表操作员，只有查看修改本组api的权限。
</div>
<div class="panel panel-info">
  <div class="panel-heading">基本信息</div>
  <!-- Table -->
  <table class="table table-bordered">
    <tr>
      <td width="20%" class="text-center">用户名</td>
      <td width="30%" class="text-center">{{userName}}</td>
    </tr>
    <tr>
      <td width="20%" class="text-center">所属企业</td>
      <td width="30%" class="text-center"><a href="#/api_version_list">{{userInfo.developer_name}}</a></td>
      <td width="50%" class="text-left">
        <button type="button" class="btn btn-primary btn-sm" ng-click="openAddGroup()" ng-disabled="!isCorporationAdmin">添加分组</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="openViewGroup()" ng-disabled="!isCorporationAdmin">查看所有分组</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="openAddAdmin()" ng-disabled="!isCorporationAdmin">添加分组管理员</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="openViewAdmin()" ng-disabled="!isCorporationAdmin">查看分组管理员</button>
      </td>
    </tr>
    <tr>
      <td width="20%" class="text-center">所属分组</td>
      <td width="30%" class="text-center">
      	<div ng-repeat="myGroup in myGroups|filter:isSupperOrAdmin">
      	  <span class="label label-danger" style="margin-left:3px;" >
        	{{myGroup.group_description|groupTxt}}(admin)
          </span>
        </div>
        <div ng-repeat="myGroup in myGroups|filter:isNotAdmin">
      	  <span class="label label-info" style="margin-left:3px;" >
            {{myGroup.group_description|groupTxt}}(user)
          </span>
        </div>
      </td>
      <td width="50%" class="text-left">
        <button type="button" class="btn btn-primary btn-sm" ng-click="openAddMember()" ng-disabled="!isGroupAdmin">添加分组成员</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="openViewMember()">查看分组成员</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="openAddGroupWl()" ng-disabled="!isGroupAdmin">添加分组白名单</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="openViewGroupWl()" ng-disabled="!isGroupAdmin">查看分组白名单</button>
      </td>
    </tr>
    <tr>
      <td width="20%" class="text-center">最近登录时间</td>
      <td width="30%" class="text-center">{{userInfo.last_login_time}}</td>
    </tr>
  </table>
</div>

<div class="panel panel-info">
  <div class="panel-heading">访问权限</div>

  <!-- Table -->
  <table class="table table-bordered">
    <tr>
      <td width="20%" class="text-center">企业ID(developer_id)</td>
      <td width="30%" class="text-center">{{userInfo.developer_id}}</td>
      <td width="50%" class="text-left">
        <button type="button" class="btn btn-danger btn-sm" clip-copy="userInfo.developer_id" clip-click="copy()">复制</button>
      </td>
    </tr>
    <tr>
      <td width="20%" class="text-center">访问Key(developer_key)</td>
      <td width="30%" class="text-center">{{userInfo.developer_key}}</td>
      <td width="50%" class="text-left">
        <button type="button" class="btn btn-danger btn-sm" clip-copy="userInfo.developer_key" clip-click="copy()">复制</button>
      </td>
    </tr>
  </table>
</div>

<div class="panel panel-info">
  <div class="panel-heading">已废弃API</div>
  <!-- Table -->
  <table class="table table-bordered" style="TABLE-LAYOUT: fixed">
    <thead>
      <tr>
        <th width="10%" class="text-center">ID</th>
        <th width="30%" class="text-center">接口名称</th>
        <th width="10%" class="text-center">版本号</th>
        <th width="30%" class="text-left">outer_url</th>
        <th width="20%" class="text-center">最后更新时间</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="apiVer in deprecatedApiVersionList">
        <td width="10%" style="word-wrap:break-word" class="text-center"><a href="#/api_version_detail/{{apiVer.id}}">{{apiVer.id}}</a></td>
        <td width="30%" style="word-wrap:break-word" class="text-center">{{apiVer.name}}</td>
        <td width="10%" style="word-wrap:break-word" class="text-center">{{apiVer.version}}</td>
        <td width="30%" style="word-wrap:break-word" class="text-left">{{apiVer.outer_url}}</td>
        <td width="20%" style="word-wrap:break-word" class="text-center">{{apiVer.update_time}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-info" ng-show="isAuditor">
<!--div class="panel panel-info"-->
  <div class="panel-heading">待审核API</div>
  <!-- Table -->
  <table class="table table-bordered" style="TABLE-LAYOUT: fixed" >
    <thead>
      <tr>
        <th width="10%" class="text-center">ID</th>
        <th width="30%" class="text-center">接口名称</th>
        <th width="10%" class="text-center">版本号</th>
        <th width="30%" class="text-left">outer_url</th>
        <th width="10%" class="text-center">组别</th>
        <th width="10%" class="text-center">审核状态</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="apiVer in tobeauditedApiVersionList">
        <td width="10%" style="word-wrap:break-word" class="text-center"><a href="#/api_version_detail/{{apiVer.id}}">{{apiVer.id}}</a></td>
        <td width="30%" style="word-wrap:break-word" class="text-center">{{apiVer.name}}</td>
        <td width="10%" style="word-wrap:break-word" class="text-center">{{apiVer.version}}</td>
        <td width="30%" style="word-wrap:break-word" class="text-left">{{apiVer.outer_url}}</td>
        <td width="10%" style="word-wrap:break-word" class="text-center">{{apiVer.group_description}}</td>
        <td width="10%" style="word-wrap:break-word" class="text-center">
            <a ng-show="!(apiVer.is_audit==1 && apiVer.audit_update_time >= apiVer.update_time)" href="#/audit_api_version/{{apiVer.id}}">{{isAuditArray[apiVer.is_audit]}}</a>
        	<span ng-show="apiVer.is_audit==1 && apiVer.audit_update_time >= apiVer.update_time" >{{isAuditArray[apiVer.is_audit]}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
