<div class="row col-md-12" ng-show="config.switch_product && forbiddenAddAPIWhenProductEnv">生产环境下禁止直接添加API,请在测试环境上添加并于测试通过后发布到生产环境(2015.9.7)</div>
<div ng-show="!config.switch_product || !forbiddenAddAPIWhenProductEnv">
<form name="addApiForm" class="form-horizontal" role="form" ng-submit="submit()">
  <div class="form-group">
    <label for="name" class="col-md-2 control-label">资源名称</label>
    <div class="col-md-6">
      <input name="name" type="text" class="form-control" id="name" ng-model="name" ng-maxlength="64" required>
      <span class="error" ng-show="addApiForm.name.$error.maxlength">该字段最大长度为64</span>
    </div>
  </div>
  <div class="form-group">
    <label for="catogery" class="col-md-2 control-label">类别</label>
    <div class="col-md-6">
      <select class="form-control" id="group" ng-model="appGroupId" ng-options="apiGroup.id as apiGroup.description for apiGroup in apiGroupList" required>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-md-2 control-label">描述</label>
    <div class="col-md-6">
      <textarea name="description" class="form-control" rows="6" id="description" ng-model="description" ng-maxlength="512" required></textarea>
      <span class="error" ng-show="addApiForm.description.$error.maxlength">该字段最大长度为512</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <button type="submit" class="btn btn-primary" ng-disabled="addApiForm.name.$error.maxlength || addApiForm.description.$error.maxlength">添加</button>
      <button type="button" class="btn btn-primary" ng-disabled="addApiForm.name.$error.maxlength || addApiForm.description.$error.maxlength" ng-click="submitAndAddApiVersion()">添加并继续</button>
      <button type="button" ng-click="back()" class="btn">返回</button>
    </div>
  </div>
</form>
</div>
