
<div>
  <!--div class="nullable ">
    <select class="form-control" style="width:auto" ng-model="apiGroupId" ng-options="apiGroup.id as apiGroup.description for apiGroup in apiGroupList">
      <option value="">所有分类</option>
    </select>
  </div-->
  <div>
  		<div class="col-md-1 text-left"  style="padding-top:7px;padding-left: 6px;">分类</div>
      	<div class="col-md-5" style="padding-left: 0px;width:25%">
    			<angucomplete id="group_types"
              placeholder="可输入拼音、汉字搜索分类"
              pause="5"
              selectedobject="selectedApiGroupObj"
              localdata="groups"
              searchfields="group_description_pinyin,group_description"
              titlefield="group_description"
              minlength="1"
              inputclass="form-control form-control-small">
    		</div>
    		<div class="col-md-6" style="padding-left: 0px;width:25%">
              <a ng-disabled="enable_register||!isOperatorOfThisAPIGroup" class="btn btn-primary btn-sm" href="#/add_api?apiGroupId={{apiGroupId}}">添加API</a>
              <a ng-disabled={{!is_product}} class="btn btn-primary btn-sm" href="#/monitor?apiGroupId={{apiGroupId}}&groupDescription={{apiGroupDescription}}&groupName={{apiGroupName}}">统计监控</a>
        </div>

   </div>
   <div class="col-md-offset-1 col-md-11" style="padding-left: 0px;">

   		<span ng-repeat="metatype in meta_groups">
    		<a class="btn" style="padding-top:0px;padding-left:0px" ng-click="select_metatype(metatype.api_groups)">{{metatype.metatype}}</a>
    	</span>

   		<button type="button" class="btn btn-default btn-sm text-right" ng-click="hideGroupDetail()" ng-show="groups_of_metatype.length != 0">收起</button>
   	</div>
    <div style="border:1px solid;padding-left: 0px;" class="col-md-offset-1 col-md-11" ng-show="groups_of_metatype.length != 0">
    	<!--button type="button" class="btn btn-default col-md-2" ng-click="select_group(group)" ng-repeat="group in groups_of_metatype">{{group.group_description}}</button-->
    	<a class="col-md-2 control-label text-left" style="padding-left:0px" href="#/api_version_list/{{group.group_id}}" "ng-click="select_group(group)" ng-repeat="group in groups_of_metatype">{{group.group_description}}</a>
    </div>
    </div>
</div>

</br>

<div class="col-md-12" style="padding-left: 0px;" ng-repeat="apiGroup in apiGroupList" ng-show="isApiGroupShow(apiGroup.id)">
  <h4>{{appCategory.description}}</h4>
  <table class="table" style="TABLE-LAYOUT: fixed">
    <thead>
      <tr>
        <th width="5%">序号</th>
        <th width="15%">接口名称</th>
        <th width="14%">版本</th>
        <th width="24%">RestHub URI</th>
        <th width="8%">发布状态</th>
        <th width="14%">负责人</th>
        <th width="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="api in apiGroup.apiList">
        <th width="5%">{{$index+1}}</th>
        <td width="15%" style="word-wrap:break-word">{{api.name}}</td>
        <td width="14%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versionList">
            <a href="#/api_version_detail/{{apiVersion.id}}">v{{apiVersion.version}}</a>
            <span class="label" ng-class="getSpecialLabelClass(apiVersion)" ng-show="isSpecialLabelShow(apiVersion)">{{getSpecialLabelText(apiVersion)}}</span>
          </div>
        </td>
        <td width="24%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versionList">
            {{apiVersion.outer_url}}
          </div>
        </td>
        <td width="8%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versionList">
            <span class="label" ng-class="getReleaseTimeLabelClass(apiVersion)">{{getReleaseTimeLabelText(apiVersion)}}</span>
          </div>
        </td>
        <td width="14%" style="word-wrap:break-word">
          <div ng-repeat="apiVersion in api.versionList">
            {{apiVersion.creator}}
          </div>
        </td>
        <td width="20%" style="word-wrap:break-word">
          <a ng-disabled="enable_register || !isOperatorOfThisAPIGroup" class="btn btn-primary btn-sm" href="#/add_api_version?api_id={{api.id}}">添加版本</a>
          <a ng-disabled="!isOperatorOfThisAPIGroup" class="btn btn-primary btn-sm" href="#/update_api/{{api.id}}">修改</a>
          <button class="btn btn-danger btn-sm" ng-click="deleteApi(api.id, api.versionList.length)">删除</button>
          <!--button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#delete_api_confirm_{{api.id}}">
            删除
          </button>
          <div class="modal fade" id="delete_api_confirm_{{api.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-body">
                  确认删除该API？
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" ng-click="deleteApi(api.id, api.versionList.length)">删除</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
              </div>
            </div>
          </div-->
        </td>
      </tr>
    </tbody>
  </table>
</div>
