
<form name="syncapiForm" class="form-horizontal" role="form" ng-submit="submit()">
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary" ng-disabled="syncapiForm.apimanagerDestURL.$error.required || syncapiForm.apimanagerDestURL.$error.url || syncapiForm.productUrl.$error.url || syncapiForm.preUrl.$error.url || syncapiForm.testUrl.$error.url ||syncapiForm.sandboxUrl.$error.url">发布</button>
      <button type="button" class="btn btn-default" ng-click="back()">返回</button>
    </div>
  </div>
  
  <div class="form-group">  	
    <label for="apimanagerURL" class="col-md-2 control-label">目标环境</label>
    <div class="col-md-6">
      <select class="form-control" id="apimanagerCommonURL" name="apimanagerCommonURL" ng-model="apimanagerCommonURL" ng-change="urlSelectChange(apimanagerCommonURL)" ng-options="a.id as a.name for a in apimanagerURLMap" ng-disabled="false">
      </select>      
    </div>      
  </div>
  <div class="form-group"  ng-show="isCorporationAdmin&&isDebugEnv()">  	
    <label for="apimanagerDestURL" class="col-md-2 control-label">目标环境URL</label>
    <div class="col-md-6">
      <input type="url" class="form-control" id="apimanagerDestURL" name="apimanagerDestURL" placeholder="请输入目的端Api Manager" ng-model="apimanagerDestURL" required>
    </div>    
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <span class="error" ng-show="syncapiForm.apimanagerDestURL.$error.required">必填!</span>
      <span class="error" ng-show="syncapiForm.apimanagerDestURL.$error.url">不是合法的URL</span>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-2"><p class="text-right">接口名称</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiName}}
      </p>
    </div>
  </div>
 <div class="row">
    <div class="col-md-2"><p class="text-right">版本</p></div>
    <div class="col-md-10">
      <p class="text-left">
        v{{apiVersionTrans.version}}
      </p>
    </div>
  </div>
  <!--div class="form-group">
    <label for="version" class="col-md-2 control-label">版本</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="version" ng-model="apiVersionTrans.version" required>
    </div>
  </div-->
  <div class="row">
    <div class="col-md-2"><p class="text-right">审核</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{isAuditArray[apiVersionTrans.is_audit]}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">状态</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{statusArray[apiVersionTrans.status]}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">负责人</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default">{{apiVersionTrans.creator}}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">修改者</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersionTrans.modifier}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">Gateway URI</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersionTrans.outer_url}}
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="inner_url" class="col-md-2 control-label">API虚拟服务器</label>
    <div class="col-md-6">
      <select id="upstream" class="form-control" ng-model="apiVersionTrans.upstream_id" ng-options="upstream.id as upstream.name for upstream in upstreamList" disabled></select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">API URI</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersionTrans.inner_url}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">授权方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{accessArray[apiVersionTrans.access]}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" for="token"><p class="text-right">API签名</p></div>
    <div class="col-md-6">
      <p class="text-left" id="token">{{apiVersionTrans.token}}</p>
    </div>
  </div>
  <div class="row">
    <div for="depend" class="col-md-2 control-label"><p class="text-right">API前置条件</p></div>
    <div class="col-md-6">
      <p class="text-left" id="depend">{{apiVersionTrans.depend}}</p>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div class="col-md-2"><p class="text-right">每分钟请求上限</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersionTrans.max_per_minute}}
      </p>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div class="col-md-2"><p class="text-right">TCP连接超时(毫秒)</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersionTrans.connect_timeout}}
      </p>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div class="col-md-2"><p class="text-right">HTTP请求超时(毫秒)</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersionTrans.request_timeout}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">详细日志级别</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{detail_log_Array[apiVersionTrans.detail_log]}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">API Cookies</p></div>
    <div class="col-md-6">
      <pre class="text-left" ng-show="apiVersion.cookies !=''">{{apiVersionTrans.cookies}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right"><p>是否允许外网http请求</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersion.is_internet_http | booleanToChineseCharacter}}</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 描述</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.description"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">HTTP Method</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersionTrans.is_get">GET</span>
        <span class="label label-default" ng-show="apiVersionTrans.is_post">POST</span>
        <span class="label label-default" ng-show="apiVersionTrans.is_put">PUT</span>
        <span class="label label-default" ng-show="apiVersionTrans.is_delete">DELET</span>
        <span class="label label-default" ng-show="apiVersionTrans.is_patch">PATCH</span>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_get">
    <div class="col-md-2"><p class="text-right"><strong>GET方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_get">
    <div class="col-md-2"><p class="text-right">Cache过期时间(秒)</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersionTrans.get_cache_expires}}
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_get">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersionTrans.get_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_get">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersionTrans.get_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_get">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersionTrans.get_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersionTrans.get_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersionTrans.get_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_get">
    <div class="col-md-2" ng-show="apiVersionTrans.get_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersionTrans.get_is_check_session">
      <p class="text-left">
        {{apiVersionTrans.get_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_get">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> GET请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.get_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_get">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> GET响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.get_output_doc"></div>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_get">
    <div class="col-md-2"><p class="text-right">压测URL</p></div>
    <div class="col-md-8">
      <pre class="text-left">{{apiVersionTrans.get_test_input_doc}}</pre>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_post">
    <div class="col-md-2"><p class="text-right"><strong>POST方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_post">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersionTrans.post_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_post">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersionTrans.post_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_post">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersionTrans.post_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersionTrans.post_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersionTrans.post_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign">
        </span></a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_post">
    <div class="col-md-2" ng-show="apiVersionTrans.post_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersionTrans.post_is_check_session">
      <p class="text-left">
        {{apiVersionTrans.post_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_post">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> POST请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.post_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_post">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> POST响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.post_output_doc"></div>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_put">
    <div class="col-md-2"><p class="text-right"><strong>PUT方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_put">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersionTrans.put_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_put">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersionTrans.put_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_put">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersionTrans.put_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersionTrans.put_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersionTrans.put_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign">
        </span></a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_put">
    <div class="col-md-2" ng-show="apiVersionTrans.put_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersionTrans.put_is_check_session">
      <p class="text-left">
        {{apiVersionTrans.put_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_put">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> PUT请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.put_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_put">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> PUT响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.put_output_doc"></div>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_delete">
    <div class="col-md-2"><p class="text-right"><strong>DELETE方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_delete">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersionTrans.delete_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_delete">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersionTrans.delete_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_delete">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersionTrans.delete_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersionTrans.delete_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersionTrans.delete_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign">
        </span></a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_delete">
    <div class="col-md-2" ng-show="apiVersionTrans.delete_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersionTrans.delete_is_check_session">
      <p class="text-left">
        {{apiVersionTrans.delete_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_delete">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> DELETE请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.delete_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_delete">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> DELETE响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.delete_output_doc"></div>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_patch">
    <div class="col-md-2"><p class="text-right"><strong>PATCH方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_patch">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersionTrans.patch_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_patch">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersionTrans.patch_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_patch">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersionTrans.patch_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersionTrans.patch_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersionTrans.patch_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign">
        </span></a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersionTrans.is_patch">
    <div class="col-md-2" ng-show="apiVersionTrans.patch_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersionTrans.patch_is_check_session">
      <p class="text-left">
        {{apiVersionTrans.patch_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_patch">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> PATCH请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.patch_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersionTrans.is_patch">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> PATCH响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersionTrans.patch_output_doc"></div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary" ng-disabled="syncapiForm.apimanagerDestURL.$error.required  || syncapiForm.apimanagerDestURL.$error.url || syncapiForm.productUrl.$error.url || syncapiForm.preUrl.$error.url || syncapiForm.testUrl.$error.url ||syncapiForm.sandboxUrl.$error.url">发布</button>
      <button type="button" class="btn btn-default" ng-click="back()">返回</button>
    </div>
  </div>  
</form>
