
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <button type="button" class="btn btn-primary" ng-click="update()" ng-disabled="!isAccessApi">修改</button>
      <button type="button" class="btn btn-primary" ng-click="audit()" ng-disabled="!isAuditApi">审核</button>
      <button type="button" class="btn btn-danger" ng-click="delete()" ng-disabled="!isAccessApi">删除</button>
      <button type="button" class="btn btn-danger" ng-click="openSyncApi()" ng-disabled="!isAccessApi || apiVersion.is_audit!=2 || is_product">发布</button>
      <button type="button" class="btn btn-default" ng-click="back()">返回</button>
      <button type="button" class="btn btn-primary" ng-click="openApiWl()" ng-disabled="!isAccessApi">添加API访问白名单</button>
      <button type="button" class="btn btn-primary" ng-click="viewApiWl()" ng-disabled="!isAccessApi">查看API访问白名单</button>
      <button type="button" class="btn btn-primary" ng-click="viewApiBl()" ng-disabled="!isAccessApi">API参数黑名单</button>
      <a ng-disabled={{!is_product}} class="btn btn-primary" href="#/monitor_api_version?outerUrl={{apiVersion.outer_url}}&description={{apiVersion.description}}">统计监控</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">资源名称</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiName}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">版本</p></div>
    <div class="col-md-10">
      <p class="text-left">
        v{{apiVersion.version}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">创建时间</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersion.create_time==0?"-":apiVersion.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">更新时间</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersion.update_time==0?"-":apiVersion.update_time | date:'yyyy-MM-dd HH:mm:ss'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">审核</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{isAuditArray[apiVersion.is_audit]}}
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_audit!=0">
    <div class="col-md-2"><p class="text-right">审核者</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{api_version_appendix_audit.auditor}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_audit==1">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 审核意见</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="api_version_appendix_audit.audit_comment"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">状态</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{statusArray[apiVersion.status]}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">发布时间</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersion.release_time==0?"-":apiVersion.release_time | date:'yyyy-MM-dd HH:mm:ss'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">发布进度</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span ng-class="{true: 'label label-success', false: 'label label-default'}[isDevRelease]">开发</span>
        <span>→</span>
        <span ng-class="{true: 'label label-success', false: 'label label-default'}[isSitRelease]">测试</span>
        <span>→</span>
        <span ng-class="{true: 'label label-success', false: 'label label-default'}[isPreRelease]">预发布</span>
        <span>→</span>
        <span ng-class="{true: 'label label-success', false: 'label label-default'}[isProductRelease]">生产</span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"><p class="text-right">负责人</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default">{{apiVersion.creator}}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">修改者</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersion.modifier}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">APP访问URL</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span clip-copy="getOuterUrl()" clip-click="copy()">
          https://<strong>{{Environment.RESTHUB_DOMAIN_NAME}}</strong>/{{apiVersion.outer_url}}
          <label type="text" class="label label-default">点击复制</label>
        </span>
      </p>
    </div>
  </div>
   <div class="row">
    <div for="upstream_id" class="col-md-2 text-right">API虚拟服务器</div>
    <div class="col-md-4">
      <select id="upstream" class="form-control" ng-model="apiVersion.upstream_id" ng-options="upstream.id as upstream.name for upstream in upstreamList" disabled></select>
    </div>
    <a for='upstream_id' class="col-md-2 text-left" href="/#/upstream?upstream_id={{apiVersion.upstream_id}}">查看</a>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">BACKEND URI</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersion.inner_url}}
        <!--label type="text" class="label label-default">{{detectPing}}</label-->
      </p>
      <!--span class="help-block" ng-show="detectPingHelp">{{detectPingHelp}}</span-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"><p class="text-right">授权方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{accessArray[apiVersion.access]}}
      </p>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div class="col-md-2" for="token"><p class="text-right">API签名</p></div>
    <div class="col-md-6">
      <p class="text-left" id="token">{{apiVersion.token}}</p>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div for="depend" class="col-md-2 control-label"><p class="text-right">API前置条件</p></div>
    <div class="col-md-6">
      <p class="text-left" id="depend">{{apiVersion.depend}}</p>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div class="col-md-2"><p class="text-right">每分钟请求上限</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersion.max_per_minute}}
      </p>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div class="col-md-2"><p class="text-right">TCP连接超时(毫秒)</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersion.connect_timeout}}
      </p>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div class="col-md-2"><p class="text-right">HTTP请求超时(毫秒)</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersion.request_timeout}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">详细日志级别</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{detail_log_Array[apiVersion.detail_log]}}
      </p>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div class="col-md-2"><p class="text-right">API Cookies</p></div>
    <div class="col-md-6">
      <pre class="text-left" ng-show="apiVersion.cookies !=''">{{apiVersion.cookies}}</pre>
    </div>
  </div>
  <div class="row">
    <div for="selector" class="col-md-2 text-right">选择器</div>
    <div class="col-md-4">
      <select id="selector" class="form-control" ng-model="apiVersion.selector_id" ng-options="selector.id as selector.name for selector in selectorList" disabled></select>
    </div>
  </div>
  <div class="row">
    <div for="scheduler" class="col-md-2 text-right">调度器</div>
    <div class="col-md-4">
      <select id="scheduler" class="form-control" ng-model="apiVersion.scheduler_id" ng-options="scheduler.id as scheduler.name for scheduler in schedulerList" disabled></select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right"><p>是否允许外网http请求</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersion.is_internet_http | booleanToChineseCharacter}}</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 描述</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.description"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><p class="text-right">HTTP Method</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span ng-class="{true: 'label label-success', false: 'label label-default'}[isHideGet]" ng-show="apiVersion.is_get" ng-click="toggleGet()">GET</span>
        <span ng-class="{true: 'label label-success', false: 'label label-default'}[isHidePost]" ng-show="apiVersion.is_post" ng-click="togglePost()">POST</span>
        <span ng-class="{true: 'label label-success', false: 'label label-default'}[isHidePut]" ng-show="apiVersion.is_put" ng-click="togglePut()">PUT</span>
        <span ng-class="{true: 'label label-success', false: 'label label-default'}[isHideDelete]" ng-show="apiVersion.is_delete" ng-click="toggleDelete()">DELET</span>
        <span ng-class="{true: 'label label-success', false: 'label label-default'}[isHidePatch]" ng-show="apiVersion.is_patch" ng-click="togglePatch()">PATCH</span>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_get && isHideGet">
    <div class="col-md-2"><p class="text-right"><strong>GET方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersion.is_get && isHideGet">
    <div class="col-md-2"><p class="text-right">Cache过期时间(秒)</p></div>
    <div class="col-md-10">
      <p class="text-left">
        {{apiVersion.get_cache_expires}}
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_get && isHideGet">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersion.get_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_get && isHideGet">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersion.get_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_get && isHideGet">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersion.get_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersion.get_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersion.get_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_get && isHideGet">
    <div class="col-md-2" ng-show="apiVersion.get_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersion.get_is_check_session">
      <p class="text-left">
        {{apiVersion.get_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_get && isHideGet">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> GET请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.get_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_get && isHideGet">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> GET响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.get_output_doc"></div>
    </div>
  </div>
  <!--div class="row" ng-show="apiVersion.is_get && isHideGet">
    <div class="col-md-2"><p class="text-right">压测URL</p></div>
    <div class="col-md-8">
      <pre class="text-left">{{apiVersion.get_test_input_doc}}</pre>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" ng-click="createStressTask()">压测</button>
      <button type="button" class="btn btn btn-danger" ng-click="viewStressResult()">查看结果</button>
      <a href="http://wiki.mumway.cn/display/WIKI/rest_api_stress_test" target="_blank">
        <span class="glyphicon glyphicon-question-sign">
      </span></a>
    </div>
  </div-->
  <div class="row" ng-show="apiVersion.is_post && isHidePost">
    <div class="col-md-2"><p class="text-right"><strong>POST方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersion.is_post && isHidePost">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersion.post_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_post && isHidePost">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersion.post_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_post && isHidePost">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersion.post_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersion.post_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersion.post_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign">
        </span></a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_post && isHidePost">
    <div class="col-md-2" ng-show="apiVersion.post_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersion.post_is_check_session">
      <p class="text-left">
        {{apiVersion.post_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_post && isHidePost">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> POST请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.post_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_post && isHidePost">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> POST响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.post_output_doc"></div>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_put && isHidePut">
    <div class="col-md-2"><p class="text-right"><strong>PUT方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersion.is_put && isHidePut">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersion.put_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_put && isHidePut">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersion.put_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_put && isHidePut">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersion.put_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersion.put_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersion.put_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign">
        </span></a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_put && isHidePut">
    <div class="col-md-2" ng-show="apiVersion.put_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersion.put_is_check_session">
      <p class="text-left">
        {{apiVersion.put_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_put && isHidePut">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> PUT请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.put_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_put && isHidePut">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> PUT响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.put_output_doc"></div>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_delete && isHideDelete">
    <div class="col-md-2"><p class="text-right"><strong>DELETE方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersion.is_delete && isHideDelete">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersion.delete_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_delete && isHideDelete">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersion.delete_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_delete && isHideDelete">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersion.delete_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersion.delete_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersion.delete_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign">
        </span></a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_delete && isHideDelete">
    <div class="col-md-2" ng-show="apiVersion.delete_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersion.delete_is_check_session">
      <p class="text-left">
        {{apiVersion.delete_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_delete && isHideDelete">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> DELETE请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.delete_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_delete && isHideDelete">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> DELETE响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.delete_output_doc"></div>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_patch && isHidePatch">
    <div class="col-md-2"><p class="text-right"><strong>PATCH方法</strong></p></div>
  </div>
  <div class="row" ng-show="apiVersion.is_patch && isHidePatch">
    <div class="col-md-2 text-right"><p>是否签名</p></div>
    <div class="col-md-10 text-left">
      <p class="text-left">{{apiVersion.patch_is_token | tokenToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_patch && isHidePatch">
    <div class="col-md-2"><p class="text-right">网络访问权限</p></div>
    <div class="col-md-10">
      <p class="text-left">{{apiVersion.patch_is_private | digitToChineseCharacter}}</p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_patch && isHidePatch">
    <div class="col-md-2"><p class="text-right">认证方式</p></div>
    <div class="col-md-10">
      <p class="text-left">
        <span class="label label-default" ng-show="apiVersion.patch_is_public">公用</span>
        <span class="label label-default" ng-show="apiVersion.patch_is_check_app">Key/Secret</span>
        <span class="label label-default" ng-show="apiVersion.patch_is_check_session">Session</span>
        <a href="http://wiki.mumway.cn/display/WIKI/API+Manager" target="_blank">
          <span class="glyphicon glyphicon-question-sign">
        </span></a>
      </p>
    </div>
  </div>
  <div class="row" ng-show="apiVersion.is_patch && isHidePatch">
    <div class="col-md-2" ng-show="apiVersion.patch_is_check_session"><p class="text-right">Session与参数关系</p></div>
    <div class="col-md-10" ng-show="apiVersion.patch_is_check_session">
      <p class="text-left">
        {{apiVersion.patch_session_param_map}}
      </p>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_patch && isHidePatch">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> PATCH请求参数说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.patch_input_doc"></div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="apiVersion.is_patch && isHidePatch">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> PATCH响应内容说明</h3>
    </div>
    <div class="panel-body">
      <div btf-markdown="apiVersion.patch_output_doc"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <button type="button" class="btn btn-primary" ng-click="update()" ng-disabled="!isAccessApi">修改</button>
      <button type="button" class="btn btn-primary" ng-click="audit()" ng-disabled="!isAuditApi">审核</button>
      <button type="button" class="btn btn-danger" ng-click="delete()" ng-disabled="!isAccessApi">删除</button>
      <button type="button" class="btn btn-default" ng-click="back()">返回</button>
      <button type="button" class="btn btn-primary" ng-click="openApiWl()" ng-disabled="!isAccessApi">添加API访问白名单</button>
      <button type="button" class="btn btn-primary" ng-click="viewApiWl()" ng-disabled="!isAccessApi">查看API访问白名单</button>
      <button type="button" class="btn btn-primary" ng-click="viewApiBl()" ng-disabled="!isAccessApi">API参数黑名单</button>
      <!--button type="button" class="btn btn-primary" ng-click="openSyncApi()" ng-disabled="config.switch_product || !isAccessApi || apiVersion.is_audit !=2">发布</button-->
    </div>
  </div>
  <hr>
  <form class="form-horizontal" role="form">
    <h3>API测试工具</h3>
    <label class="default">推荐使用: <a href="https://www.getpostman.com/" target="_blabk">Postman</a></label>
    <div class="row">
      <div class="row">
        <label for="input_param" class="col-md-2 control-label">请求地址</label>
        <div class="col-md-6">
          <textarea class="form-control" rows="1" id="inputDestUrl" ng-model="destUrl"></textarea>
        </div>
      </div>
      <label for="request_method" class="col-md-2 control-label">请求方法</label>
      <div class="col-md-6">
        <label class="radio-inline" ng-show="apiVersion.is_get">
          <input type="radio" ng-model="testMethod" value="GET">GET
        </label>
        <label class="radio-inline" ng-show="apiVersion.is_put">
          <input type="radio" ng-model="testMethod" value="PUT">PUT
        </label>
        <label class="radio-inline" ng-show="apiVersion.is_post">
          <input type="radio" ng-model="testMethod" value="POST">POST
        </label>
        <label class="radio-inline" ng-show="apiVersion.is_delete">
          <input type="radio" ng-model="testMethod" value="DELETE">DELETE
        </label>
        <label class="radio-inline" ng-show="apiVersion.is_patch">
          <input type="radio" ng-model="testMethod" value="PATCH">PATCH
        </label>
      </div>
    </div>
    <div class="row">
      <label for="input_param" class="col-md-2 control-label">请求参数</label>
      <div class="col-md-6">
        <textarea class="form-control" rows="4" id="inputParam" ng-model="testInputParam"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-6">
          <button type="button" class="btn btn-primary" ng-click="http_test(apiVersion.outer_url)">运行测试</button>
      </div>
    </div>
    <div class="row">
      <label for="output_param" class="col-md-2 control-label">响应内容</label>
      <div class="col-md-10" ng-show="returnStatus">
        <p><strong>status:&nbsp;</strong>
          {{returnStatus}}
        </p>
        <p><strong>headers:&nbsp;</strong>
          <pre ng-show="returnHeaders">{{returnHeaders}}</pre>
        </p>
        <p><strong>body:&nbsp;</strong>
          <pre ng-show="returnData">{{returnData}}</pre>
        </p>
      </div>
    </div>
  </form>
</div>
