
<div class="row">
    <div class="col-md-offset-6 col-md-6 text-right">
      <button type="button" class="btn btn-default" ng-disabled="false" ng-click="showView('byAddDeveloper')">添加企业</button>
      <button type="button" class="btn btn-default" ng-disabled="false" ng-click="showView('byDeveloperID')">全部企业</button>
      <button type="button" class="btn btn-default" ng-disabled="false" ng-click="showView('byAdd')">添加用户</button>
      <button type="button" class="btn btn-default" ng-disabled="true" ng-click="showView('bySearch')"  ng-disabled="true">搜索用户</button>
      <button type="button" class="btn btn-default" ng-disabled="false" ng-click="showView('all')">全部用户</button>
    </div>
    <hr/>
</div>
<div ng-show="showByAdd">
 	<form name="addUserForm" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="username" class="col-md-2 control-label">用户名称</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="username" name="username" ng-model="username" required></input>
        </div>
      </div>
  	  <div class="form-group">
        <label for="password" class="col-md-2 control-label">密码</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="password" name="password" ng-model="password" required></input>
        </div>
      </div>
      <div class="form-group">
        <label for="developer_id" class="col-md-2 control-label">开发者ID</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developer_id" name="developer_id" ng-model="developer_id" required>
        </div>
      </div>
     <div class="form-group">
       <label for="fullname" class="col-md-2 control-label">真实用户名称</label>
       <div class="col-md-6">
         <input type="text" class="form-control"  id="fullname" name="fullname" ng-model="fullname"></input>
       </div>
     </div>
     <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="email" name="email" ng-model="email" ></input>
        </div>
      </div>
     <div class="form-group">
       <label for="mobilephone" class="col-md-2 control-label">电话号码</label>
       <div class="col-md-6">
         <input type="text" class="form-control" id="mobilephone" name="mobilephone" ng-model="mobilephone"></input>
       </div>
     </div>
     <div class="form-group">
       <label for="description" class="col-md-2 control-label">描述信息</label>
       <div class="col-md-6">
         <textarea name="description" class="form-control" rows="6" id="description" name="description" ng-model="description" ng-maxlength="1024"></textarea>
      <span class="error" ng-show="addApiForm.description.$error.maxlength">该字段最大长度为1024</span>
       </div>
     </div>
     <div class="form-group">
      <div class="col-md-offset-9 col-md-3">
        <button type="button" class="btn btn-primary" ng-click="addSubmit()" ng-disabled="false">添加</button>
        <button type="button" class="btn btn-default" ng-click="back()" ng-disabled="false">返回</button>
      </div>
    </div>
   </form>
</div>
<div ng-show="showByModify">
 	<form name="addUserForm" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="username" class="col-md-2 control-label">用户名称</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="username" name="username" ng-model="username" ng-disabled="true"></input>
        </div>
      </div>
  	  <div class="form-group">
        <label for="password" class="col-md-2 control-label">密码</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="password" name="password" ng-model="password" required></input>
        </div>
      </div>
      <div class="form-group">
        <label for="developer_id" class="col-md-2 control-label">开发者ID</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developer_id" name="developer_id" ng-model="developer_id" required>
        </div>
      </div>
     <div class="form-group">
       <label for="fullname" class="col-md-2 control-label">真实用户名称</label>
       <div class="col-md-6">
         <input type="text" class="form-control"  id="fullname" name="fullname" ng-model="fullname"></input>
       </div>
     </div>
     <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="email" name="email" ng-model="email" ></input>
        </div>
      </div>
     <div class="form-group">
       <label for="mobilephone" class="col-md-2 control-label">电话号码</label>
       <div class="col-md-6">
         <input type="text" class="form-control" id="mobilephone" name="mobilephone" ng-model="mobilephone"></input>
       </div>
     </div>
     <div class="form-group">
       <label for="description" class="col-md-2 control-label">描述信息</label>
       <div class="col-md-6">
         <textarea name="description" class="form-control" rows="6" id="description" name="description" ng-model="description" ng-maxlength="1024"></textarea>
      <span class="error" ng-show="addApiForm.description.$error.maxlength">该字段最大长度为1024</span>
       </div>
     </div>
     <div class="form-group">
      <div class="col-md-offset-9 col-md-3">
        <button type="button" class="btn btn-primary" ng-click="updateSummit()" ng-disabled="false">提交</button>
        <button type="button" class="btn btn-default" ng-click="back()" ng-disabled="false">返回</button>
      </div>
    </div>
   </form>
</div>
<div ng-show="showByDetail">
	<div class="row">
    	<div class="col-md-2"><p class="text-right">用户名称</p></div>
    	<div class="col-md-10">
      		<p class="text-left">{{selectedUser.username}}</p>
    	</div>
	</div>
	<div class="row">
    	<div class="col-md-2"><p class="text-right">密码</p></div>
    	<div class="col-md-10">
      		<p class="text-left">******</p>
    	</div>
	</div>
	<div class="row">
    	<div class="col-md-2"><p class="text-right">开发者ID</p></div>
    	<div class="col-md-10">
      		<p class="text-left">{{selectedUser.developer_id}}</p>
    	</div>
	</div>
	<div class="row">
    	<div class="col-md-2"><p class="text-right">真实用户名称</p></div>
    	<div class="col-md-10">
      		<p class="text-left">{{selectedUser.fullname}}</p>
    	</div>
	</div>
	<div class="row">
    	<div class="col-md-2"><p class="text-right">Email</p></div>
    	<div class="col-md-10">
      		<p class="text-left">{{selectedUser.email}}</p>
    	</div>
	</div>
	<div class="row">
    	<div class="col-md-2"><p class="text-right">电话号码</p></div>
    	<div class="col-md-10">
      		<p class="text-left">{{selectedUser.mobilephone}}</p>
    	</div>
	</div>
	<div class="row">
    	<div class="col-md-2"><p class="text-right">描述信息</p></div>
    	<div class="col-md-10">
      		<p class="text-left">{{selectedUser.description}}</p>
    	</div>
	</div>
	<div class="row">
    	<div class="col-md-offset-2 col-md-10">
      		<button type="button" class="btn btn-primary" ng-click="back()">返回</button>
 	    </div>
	</div>
</div>
<div ng-show="showByAddDeveloper">
 	<form name="addDeveloperForm" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="developername" class="col-md-2 control-label">企业名称</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developername" name="developername" ng-model="add_developer_name" ng-maxlength="64" ng-pattern='/^[\da-zA-Z_]+$/' required></input>
          <span class="error" ng-show="addDeveloperForm.developername.$error.maxlength">该字段最大长度为64</span>
          <span class="error" ng-show="addDeveloperForm.developername.$error.pattern">企业名称仅允许英文字母，数字和下划线</span>
        </div>
      </div>
  	  <div class="form-group">
        <label for="developerid" class="col-md-2 control-label">开发者ID</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developerid" name="developerid" ng-model="add_developer_id" ng-disabled="true" required></input>
        </div>
      </div>
      <div class="form-group">
        <label for="developertype" class="col-md-2 control-label">类型</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developertype" name="developertype" ng-model="add_developer_type" ng-disabled="true" required>
        </div>
      </div>
     <div class="form-group">
       <label for="bizId" class="col-md-2 control-label">bizId</label>
       <div class="col-md-6">
         <input type="text" class="form-control"  id="bizId" name="bizId" ng-model="add_bizId" ng-maxlength="10" ng-pattern='/^[0-9]+$/' required></input>
         <span class="error" ng-show="addDeveloperForm.bizId.$error.maxlength">该字段最大长度为10</span>
         <span class="error" ng-show="addDeveloperForm.bizId.$error.pattern">请输入数字</span>
       </div>
     </div>
     <div class="form-group">
        <label for="developerkey" class="col-md-2 control-label">访问Key</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developerkey" name="developerkey" ng-model="add_developer_key"  ng-disabled="true" required>
        </div>
      </div>
     <div class="form-group">
      <div class="col-md-offset-9 col-md-3">
        <button type="button" class="btn btn-primary" ng-click="addDeveloperSubmit()" ng-disabled="addDeveloperForm.bizId.$error.maxlength||addDeveloperForm.bizId.$error.pattern||addDeveloperForm.bizId.$error.required||addDeveloperForm.developername.$error.required||addDeveloperForm.developername.$error.maxlength||addDeveloperForm.developername.$error.pattern">添加</button>
        <button type="button" class="btn btn-default" ng-click="addDeveloperback()" ng-disabled="false">返回</button>
      </div>
    </div>
   </form>
</div>
<div ng-show="showByModifyDeveloper">
 	<form name="modDeveloperForm" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="developername" class="col-md-2 control-label">企业名称</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developername" name="developername" ng-model="add_developer_name" ng-maxlength="64"  ng-pattern='/^[\da-zA-Z_]+$/' required></input>
          <span class="error" ng-show="modDeveloperForm.developername.$error.maxlength">该字段最大长度为64</span>
          <span class="error" ng-show="modDeveloperForm.developername.$error.pattern">企业名称仅允许英文字母，数字和下划线</span>
        </div>
      </div>
  	  <div class="form-group">
        <label for="developerid" class="col-md-2 control-label">开发者ID</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developerid" name="developerid" ng-model="add_developer_id" ng-disabled="true" required></input>
        </div>
      </div>
      <div class="form-group">
        <label for="developertype" class="col-md-2 control-label">类型</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developertype" name="developertype" ng-model="add_developer_type" ng-disabled="true" required>
        </div>
      </div>
     <div class="form-group">
       <label for="mod_bizId" class="col-md-2 control-label">bizId</label>
       <div class="col-md-6">
         <input type="text" class="form-control"  id="mod_bizId" name="mod_bizId" ng-model="add_bizId" ng-maxlength="10" ng-pattern='/^[0-9]+$/' required></input>
         <span class="error" ng-show="modDeveloperForm.mod_bizId.$error.maxlength">该字段最大长度为10</span>
         <span class="error" ng-show="modDeveloperForm.mod_bizId.$error.pattern">请输入数字</span>
       </div>
     </div>
     <div class="form-group">
        <label for="developerkey" class="col-md-2 control-label">访问Key</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="developerkey" name="developerkey" ng-model="add_developer_key"  ng-disabled="true" required>
        </div>
      </div>
     <div class="form-group">
      <div class="col-md-offset-9 col-md-3">
        <button type="button" class="btn btn-primary" ng-click="updateDeveloperSubmit()" ng-disabled="modDeveloperForm.mod_bizId.$error.maxlength||modDeveloperForm.mod_bizId.$error.pattern||modDeveloperForm.mod_bizId.$error.required||modDeveloperForm.developername.$error.required||modDeveloperForm.developername.$error.maxlength||modDeveloperForm.developername.$error.pattern">提交</button>
        <button type="button" class="btn btn-default" ng-click="addDeveloperback()" ng-disabled="false">返回</button>
      </div>
    </div>
   </form>
</div>
<div ng-show="showByDeveloperID">
  <table class="table">
    <thead>
      <tr>
        <th width="12%">开发者ID</th>
        <th width="15%">企业名称</th>
        <th width="7%">类型</th>
        <th width="15%">bizId</th>
        <th width="20%">访问Key</th>
        <th width="8%">用户数</th>
        <th width="23%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="developer in developer_list">
        <td width="12%">{{developer.developer_id}}</td>
        <td width="15%">{{developer.developer_name}}</td>
        <td width="7%">{{developer.developer_type}}</td>
        <td width="15%">{{developer.bizId}}</td>
        <td width="20%">{{developer.developer_key}}</td>
        <td width="8%">-</td>
        <td width="23%">
          <button class="btn btn-primary btn-sm" ng-click="updateDeveloper(developer.developer_id)">修改</button>
          <button class="btn btn-danger btn-sm" ng-click="deleteDeveloper(developer.developer_id)">删除</button>
        	 <button class="btn btn-primary btn-sm" ng-click="showWL(developer.developer_id)">查看白名单</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-show="showBySearch">
</div>
<div ng-show="showByAll">
  <table class="table"  style="TABLE-LAYOUT: fixed" >
    <thead>
	  <tr>
        <th width="20%">用户名</th>
        <th width="20%">开发者ID</th>
        <th width="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in basic_user_infos">
        <td width="20%" style="word-wrap:break-word">{{user.username}}</td>
        <td width="20%" style="word-wrap:break-word">{{user.developer_id}}</td>
        <td width="20%" style="word-wrap:break-word">
          <button class="btn btn-primary btn-sm" ng-click="userDetail(user.username)">详情</button>
          <button class="btn btn-primary btn-sm" ng-click="updateUser(user.username)">修改</button>
          <button class="btn btn-danger btn-sm" ng-click="deleteUser(user.username)">删除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>