<h3>API参数黑名单参数组</h3>

<table class="table table-bordered">
  <thead>
      <tr>
        <th class="text-center">参数组ID</th>
        <th class="text-center">API ID</th>
        <th class="text-center">Outer URL</th>
        <th class="text-center"></th>
      </tr>
  </thead>
  <tbody class="table-word-break">
    <tr>
      <td class="text-center">{{apibl.group_id}}</td>
      <td class="text-center">{{apibl.api_id}}</td>
      <td class="text-center">{{apibl.outer_url}}</td>
      <td class="text-center"></td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <thead>
      <tr>
        <th class="text-center">序号</th>
        <th class="text-center">参数名称</th>
        <th class="text-center">参数取值</th>
        <th class="text-center">动作</th>
      </tr>
  </thead>
  <tbody class="table-word-break">
    <tr ng-repeat="key in apibl.keys">
      <td class="text-center">{{$index + 1}}</td>
      <td class="text-center">{{key.k}}</td>
      <td class="text-center">{{key.v}}</td>
      <td class="text-center"><button type="button" class="btn btn-danger btn-sm" ng-click="deleteApiBl(key.id, apibl.api_id)">删除</button></td>
    </tr>
    <tr>
      <td class="text-center">+</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"><button type="button" class="btn btn-primary btn-sm" ng-click="addApiBl(apibl.group_id, apibl.api_id)">增加</button></td>
    </tr>
  </tbody>
</table>