<h3>查看分组白名单</h3>

<form name="viewGroupWlForm" class="form-horizontal" role="form" ng-submit="viewGroupWlSubmit()">
  <div class="form-group">
    <label for="viewGroupWl" class="col-md-4 control-label">分组</label>
    <div class="col-md-6">
      <select name="view_group_wl" class="form-control" id="view_group_wl" ng-model="viewGroupWl.group_id" ng-options="a.group_id as a.group_description for a in groups" required>
          <option value="">请选择分组</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <button type="submit" class="btn btn-primary btn-sm">查看</button>
    </div>
  </div>
</form>

<table class="table table-bordered">
  <thead>
      <tr>
        <th class="text-center">序号</th>
        <th class="text-center">开发者账号</th>
        <th class="text-center">分组ID</th>
        <th class="text-center">动作</th>
      </tr>
  </thead>
  <tbody class="table-word-break">
    <tr ng-repeat="groupWl in groupWls">
      <td class="text-center">{{$index + 1}}</td>
      <td class="text-center">{{groupWl.developer_id}}</td>
      <td class="text-center">{{groupWl.group_id}}</td>
      <td class="text-center"><button type="button" class="btn btn-danger btn-sm" ng-click="deleteGroupWl(groupWl.group_id, groupWl.developer_id)">删除</button></td>
    </tr>
  </tbody>
</table>
