
<form class="form-horizontal" role="form" ng-submit="submit()">
  <div class="form-group">
    <label for="name" class="col-md-2 control-label">名称</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="name" ng-model="name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="catogery" class="col-md-2 control-label">类别</label>
    <div class="col-md-6">
      <select class="form-control" id="group" ng-model="apiGoupId" ng-options="apiGroup.id as apiGroup.description for apiGroup in apiGroupList" disabled="true" required>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-md-2 control-label">描述</label>
    <div class="col-md-6">
      <textarea class="form-control" rows="6" id="description" ng-model="description" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <button type="submit" class="btn btn-primary">修改</button>
      <button type="button" class="btn btn-default" ng-click="back()">返回</button>
    </div>
  </div>
</form>
